* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace <weight> with a valid font weight value */
  font-style: normal;
}